
            <div class="step" id="step2" data-step="2">
                <h1>Alle huidige klanten</h1>
                <iframe src="https://www.google.com/maps/d/embed?mid=12pTJN-yQXWn9zwJ9Ora3y_KYruw" width="1000" height="500"></iframe>
            </div>