      <div class="step" id="step1" data-step="1">
                <h1>Creditsafe aanmeldingen</h1>

                <table border="1">
                    <tr>
                        <th>Bedrijfsnaam</th>
                        <th>Administrator</th>
                        <th>Plaatsnaam</th>
                    </tr>

                    <tr>
                        <td>GreatCompany B.V.</td>
                        <td>Jon Smit</td>
                        <td>Amsterdam</td>
                    </tr>


                </table>

            </div>
