*{
    font-family: 'Open Sans', sans-serif;
}

body {
    color:#FFF;
    font-family: Arial;
    font-size: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


a{
    color:#FFF;
}

#backgroundMovie {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index:-1;
}

.container {
    margin: 0 auto;
    width: 55%;
    height:650px;
    padding: 2em;
    text-align: center;   
    background-color: rgba(0, 0, 0, 0.6);
    border: 0;
    border-radius: 15px;
    z-index:1;
    position:relative;
    top:45px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius:0;
}

h1 {
    margin: 0em -1em 1.5em;
    padding: 0.3em;
    color: #fff;
    background-color: #3085d6;
}

input[type=text] {
    width: 25em;
    padding: 0.5em 1em;
    border: 1px #999 solid;
    border-radius: 0.4em;
}

button{
    padding: 0.5em 1em;
    font-weight: bold;
}

.step{
    display:none;
}

.step:nth-child(1){
    display: block;
}

.buttons{
    width:400px;
    position: absolute;
    bottom: 0;
    left: 25px;
    right: 0;
    margin: auto;
    height: 100px;
}

.goToFirst,
.goToPrevious,
.goToNext,
.goToLast,
.resetInterval{
   width:75px;
   cursor:pointer;
}


.resetInterval{
    visibility:hidden;
}


.btnHover{
    filter:drop-shadow(0px 0px 15px #3c556b);
    transform: scale(1.05);
    transition:transform 0.1s;
    transition-timing-function: ease-in-out;
}


/* WEER APP */
#weatherInfo{
    position: fixed;
    background: rgba(0,0,0,0.6);
    width: 135px;
    height: 679px;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    font-size: 1.5em;
    color: #FFF;
    padding-top: 25px;
    cursor: default;
    top: 53px;
    left:248px;
    z-index:10;
    border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

#widget2{
    display: block;
    position: fixed;
    background: rgba(0,0,0,0.6);
    width: 135px;
    height: 679px;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    font-size: 1.2em;
    color: #FFF;
    padding-top: 25px;
    cursor: default;
    top: 53px;
    right:248px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    z-index:10;
}

#notifications{
    display: none;
    position: fixed;
    background: #3085d6;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    font-size: 1.4em;
    color: #FFF;
    cursor: default;
    left: 247px;
    bottom: 129px;
    width: 1404px;
    height: 60px;
    line-height: 1.75;
    font-size: 2em;
    box-shadow:1px 1px 35px 5px #3085d6;
}

table{ 
margin-left: auto;
margin-right: auto;
}

tr,
th,
td{
    padding:15px;
}

td,
th{
    background: #FFF;
    color: #3085d6;
    border-color:#3085d6;
}

th{
    font-weight: bold;
}